.password-form {
  background-color: white;
  font-size: 16px;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 40px;
  column-gap: 30px;
  row-gap: 10px;
}

.password-form-message {
  margin-top: -20px;
  color: #0cc30c;
}

@media (max-width: 700px) {
  .password-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 90px);
    gap: 0;
  }

  .password-form-message {
    text-align: start;
    margin-bottom: 5px;
  }
}
