.settings-form {
  background-color: white;
  font-size: 16px;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 90px 90px 40px;
  column-gap: 30px;
  row-gap: 10px;
  gap: 30px;
}

.settings-form-message {
  margin-top: -35px;
  color: #0cc30c;
}

.settings-form-error {
  margin-top: -35px;
  color: red;
}

.settings-form__avatar-upload {
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-form__avatar {
  width: 130px;
  height: 130px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--gray-200);
  margin-bottom: 20px;
}

.settings-form__avatar-upload-button {
  padding: 0.75rem 2rem;
  background-color: #4d88ed;
  color: white;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
  border: none;
}

.settings-form__avatar-upload-button:hover {
  background-color: #215ec9;
}

.settings-form__avatar-upload-button:disabled {
  background-color: #98baf5;
  cursor: default;
}

.settings-form__avatar-upload-button:disabled:hover {
  background-color: #98baf5;
  cursor: default;
}

.settings-form__submit-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  width: max-content;
  justify-self: end;
  align-self: flex-start;
}

@media (max-width: 700px) {
  .settings-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 90px);
    gap: 0;
  }

  .settings-form-message,
  .settings-form-error {
    margin-top: -25px;
    padding-left: 5px;
    text-align: start;
  }

  .settings-form__submit-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    width: max-content;
    justify-self: end;
    align-self: flex-start;
  }

  .settings-form__avatar {
    width: 120px;
    margin-bottom: 10px;
  }
}
