.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  text-align: center;
}

.form .form-group {
  margin-bottom: 10px;
}

.form button {
  margin-top: 20px;
  background-color: #4d88ed;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form button.disabled:hover {
  background-color: #4d88ed;
  cursor: default;
}

.form button:hover {
  background-color: #3d7dec;
}
