* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

.App {
  text-align: center;
  background-color: #f3f2f2;
}

main {
  min-height: calc(100vh - 50px);
  position: relative;
  display: flex;
}

.user-card {
  border: 2px solid rgb(175, 175, 175);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.user-card:not(:last-child) {
  margin-bottom: 20px;
}

.user-card img,
.user-card svg {
  margin-right: 30px;
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.user-card a {
  font-size: 24px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.user-card a:hover {
  text-decoration: underline;
}

.user-card button {
  margin-left: auto;
  font-size: 16px;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  min-width: 130px;
}

button.follow {
  background-color: #4d88ed;
}

button.follow:hover {
  background-color: #3d7dec;
}

button.unfollow {
  background-color: #fe7171;
}

button.unfollow:hover {
  background-color: #f85050;
}

.not-found {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2db6f0;
  font-size: 30px;
  font-weight: bold;
}

.not-found p {
  margin: 0;
}

.not-found-page {
  height: 100vh;
  width: 100%;
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.not-found-page__heading {
  font-size: 50px;
  color: #00abdf;
  margin-bottom: 40px;
}

.not-found-img {
  width: 80%;
  margin-bottom: 40px;
}

.not-found-page__button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00bdf7;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.not-found-page__button:hover {
  background-color: #00abdf;
}

@media (max-width: 700px) {
  .not-found-page__heading {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .not-found-img {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .not-found-page__heading {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .not-found-img {
    width: 100%;
    margin-bottom: 40px;
  }

  .not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .user-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
  }

  .user-card img,
  .user-card svg {
    margin: auto;
    margin-bottom: 10px;
  }

  .user-card button {
    margin: auto;
  }
}
