* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

.settings-form {
  background-color: white;
  font-size: 16px;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 90px 90px 40px;
  column-gap: 30px;
  row-gap: 10px;
  gap: 30px;
}

.password-form {
  background-color: white;
  font-size: 16px;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 40px;
  column-gap: 30px;
  row-gap: 10px;
}

.password-form-message {
  margin-top: -20px;
  color: #0cc30c;
}

.settings-form-message {
  margin-top: -35px;
  color: #0cc30c;
}

.settings-form__avatar-upload {
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-form__avatar {
  width: 130px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--gray-200);
  margin-bottom: 20px;
}

.settings-form__avatar-upload-button {
  padding: 0.75rem 2rem;
  background-color: #4d88ed;
  color: white;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
  border: none;
}

.settings-form__avatar-upload-button:hover {
  background-color: #215ec9;
}

.settings-form__avatar-upload-button:disabled {
  background-color: #98baf5;
  cursor: default;
}

.settings-form__avatar-upload-button:disabled:hover {
  background-color: #98baf5;
  cursor: default;
}

.settings-form__form-group {
  /* background-color: #ffa6a6;
  border: 1px solid rgb(116, 116, 255); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.settings-form__submit-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  width: max-content;
  /* height: fit-content;
  padding: 0.65rem 2rem; */
  justify-self: end;
  align-self: flex-start;
}

.settings-form__label {
  font-weight: bold;
  padding-left: 5px;
}

.settings-form__input {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.settings-form__input:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

.settings-form__error {
  color: red;
  padding-left: 5px;
  font-size: 12px;
}

@media (max-width: 700px) {
  .settings-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 90px);
    gap: 0;
  }

  .settings-form-message {
    margin-top: -25px;
    padding-left: 5px;
    text-align: start;
  }

  .settings-form__submit-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    width: max-content;
    justify-self: end;
    align-self: flex-start;
  }

  .settings-form__avatar {
    width: 120px;
    margin-bottom: 10px;
  }

  .password-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 90px);
    gap: 0;
  }

  .password-form-message {
    text-align: start;
    margin-bottom: 5px;
  }
}
